/* Style for the body of the page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #151515;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Style for the main container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 20px;
}

/* Style for the title */
.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  padding: 10px 20px; /* Spacing around the title */
  border: 2px solid #333; /* Border around the title */
  border-radius: 8px; /* Rounded corners */
  background-color: #ffffff; /* White background color */
}

/* Section containing the options */
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 300px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

/* Style for the buttons */
.option-button {
  font-size: 18px;
  margin: 10px 0;
  padding: 12px 20px;
  border: 2px solid #002323;
  background-color: #002323;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  display: inline-block; /* Makes links look like buttons */
}

.option-button:hover {
  background-color: #0056b3; /* Color on hover */
  transform: scale(1.05); /* Slight animation*
