{% extends 'base.html' %}
{% load static %}
{% block title %}Page de configuration{% endblock title%}
{% block content %}
<div class="container">
    <header class="page-header">
        <h1 class="title">Page de configuration</h1>
        <link rel="stylesheet" href="{% static 'config_routeur/style.css' %}" />
    </header>
    <section class="section">
        <h2 class="subtitle">Liste des routeurs disponibles</h2>
        <ul class="list">
            {% for routeur in routeurs %}
                <li class="list-item">
                    <!-- Ajout d'un lien pour accéder à la vue configuration_detail -->
                    <a class="item-text" href="{% url 'configuration_routeur_detail' routeur.id %}">{{ routeur.nom }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="section">
    <h2 class="subtitle">Liste des seuils configurés</h2>
    <ul class="list">
        {% for seuil in seuils %}
            <li class="list-item">
                <!-- Ajout d'un lien pour accéder à la vue de détail du seuil -->
                <a class="item-text" href="{% url 'configuration_seuil_detail' seuil.id %}">{{ seuil.nom }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
</div>
{% endblock content %}