{% extends 'base.html' %}
{% load static %}
{% block title %}Routeur {{ routeur.nom }}{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'config_routeur/routeur_detail.css' %}">
<div class="routeur-detail">
    <h2>Configuration du routeur : <span>{{ routeur.nom }}</span></h2>
    <ul>
        <li>
            <strong>Adresse IP du routeur :</strong> {{ routeur.ip }}
        </li>
        <li>
            <strong>Nom d'utilisateur sur le routeur en SSH :</strong> {{ routeur.user }}
        </li>
        <li>
            <strong>Mot de passe du routeur en SSH :</strong> {{ routeur.password }}
        </li>
        <li>
            <strong>Mot de passe pour enable :</strong> {{ routeur.secret }}
        </li>
        <li>
            <strong>Seuil appliqué :</strong> {{ routeur.seuil }}
        </li>
    </ul>
</div>
{% endblock %}