{% extends 'base.html' %}
{% load static %}
{% block title %}threshold : {{ routeur.nom }}{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'config_routeur/threshold_detail.css' %}">

<div class="threshold-detail">
    <h2>Configuration du threshold : <span>{{ threshold.nom }}</span></h2>
    <ul>
        <li>
            <strong>RAM en Mo : </strong> {{ threshold.ram }}
        </li>
        <li>
            <strong>CPU utilisé en % : </strong> {{ threshold.cpu }}
        </li>
        <li>
            <strong>Bande passante en Mo/s : </strong> {{ threshold.trafic }}
        </li>
    </ul>

    <!-- Bouton de retour ajouté ici -->
    <div class="back-button">
        <a href="{% url 'configuration' %}" class="btn-back">Retour en arrière</a>
    </div>
    <div class="edit-button">
        <a href="{% url 'threshold_update' id=threshold.id %}"  class="btn-edit">Modifier le threshold</a>
    </div>
</div>
{% endblock %}