{% extends 'base.html' %}
{% load static %}
{% block title %}Seuil : {{ routeur.nom }}{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'config_routeur/seuil_detail.css' %}">

<div class="seuil-detail">
    <h2>Configuration du seuil : <span>{{ seuil.nom }}</span></h2>
    <ul>
        <li>
            <strong>RAM en Mo : </strong> {{ seuil.ram }}
        </li>
        <li>
            <strong>CPU utilisé en % : </strong> {{ seuil.CPU }}
        </li>
        <li>
            <strong>Bande passante en Mo/s : </strong> {{ seuil.trafic }}
        </li>
    </ul>

    <!-- Bouton de retour ajouté ici -->
    <div class="back-button">
        <a href="{% url 'configuration' %}" class="btn-back">Retour en arrière</a>
    </div>
    <div class="edit-button">
        <a href="{% url 'seuil_update' id=seuil.id %}"  class="btn-edit">Modifier le seuil</a>
    </div>
    <div class="edit-button">
        <a href="{% url 'seuil_delate' id=seuil.id %}"  class="btn-edit">Supprimer le seuil</a>
    </div>
</div>
{% endblock %}