{% extends 'base.html' %}
{% load static %}
{% block title %}Page de configuration{% endblock title%}
{% block content %}
<div class="container">
    <header class="page-header">
        <h1 class="title">Page de configuration</h1>
        <!-- Chargement du fichier CSS -->
        <link rel="stylesheet" href="{% static 'config_routeur/style.css' %}" />
    </header>
    <section class="section">
        <h2 class="subtitle">Liste des routeurs disponibles</h2>
        <ul class="list">
            {% for routeur in routeurs %}
                <li class="list-item">
                    <!-- Lien stylé pour chaque routeur -->
                    <a class="button btn-routeur" href="{% url 'configuration_routeur_detail' routeur.id %}">
                        {{ routeur.nom }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="section">
        <h2 class="subtitle">Liste des thresholds configurés</h2>
        <ul class="list">
            {% for threshold in thresholds %}
                <li class="list-item">
                    <!-- Lien stylé pour chaque threshold -->
                    <a class="button btn-threshold" href="{% url 'configuration_threshold_detail' threshold.id %}">
                        {{ threshold.nom }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
<div class="section" style="text-align: center;">
    <a class="button btn-threshold" href="{% url 'threshold' %}">
        Configurer un nouveau threshold
    </a>
</div>

{% endblock content %}