<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <!-- Titre en haut -->
    <div class="title">Settings</div>

    <!-- Conteneur pour les options -->
    <div class="options">
      <a href="/settings/user_info/" class="option-button">Personal information</a>
      <a href="/settings/appearance/" class="option-button">Appearance</a>
      <a href="/settings/language" class="option-button">Language</a>
    </div>
  </div>
</body>
</html>