{% extends 'base.html' %}
{% load static %}

{% block title %}Configuration Page{% endblock title %}

{% block content %}
<div class="container">
    <header class="page-header">
        <h1 class="title">Configuration Page</h1>
        <link rel="stylesheet" href="{% static 'router_config/config_style.css' %}" />
    </header>

    <section class="section">
        <h2 class="subtitle">List of Available Routers</h2>
        <ul class="list">
            {% for router in routers %}
                <li class="list-item">
                    <a class="button btn-router" href="{% url 'configuration_router_config' router.router_id %}">
                        {{ router.name }}
                    </a>
                </li>
            {% empty %}
                <li class="list-item">No routers configured yet.</li>
            {% endfor %}
        </ul>
    </section>

    <section class="section">
        <h2 class="subtitle">List of Configured Thresholds</h2>
        <ul class="list">
            {% for threshold in thresholds %}
                <li class="list-item">
                    <a class="button btn-threshold" href="{% url 'configuration_threshold_detail' threshold.threshold_id %}">
                        {{ threshold.name }}
                    </a>
                </li>
            {% empty %}
                <li class="list-item">No thresholds configured yet.</li>
            {% endfor %}
        </ul>
    </section>

    <section class="section center-section">
        <a class="button btn-threshold" href="{% url 'thresholds' %}">
            Configure a New Threshold
        </a>
    </section>
</div>
{% endblock content %}