<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Settings{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'settings_app/style_settings.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <!-- Header -->
        <div class="header">
            <h1>{% block header %}Settings{% endblock %}</h1>
            <div class="header-buttons">
                <a href="/">
                  <button class="header-button">Home</button>
                </a>
            </div>
        </div>
        <!-- Navigation -->
        <nav>
            <ul>
                <li><a href="/settings/user_info/">Personal Information</a></li>
                <li><a href="/settings/appearance/">Appearance</a></li>
                <li><a href="/settings/language/">Language</a></li>
            </ul>
        </nav>
        <!-- Content -->
        <div class="settings-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
